#!/usr/local/bin/make -f                                                                                                                                           
STAMPDIR=tgz2build/stamps

CONFIGURE_OPTS := --prefix=$(ZBS_PREFIX) --disable-docs --without-oracle --with-dbi --with-dbi-incdir=$(ZBS_PREFIX)/include/ --with-dbi-libdir=$(ZBS_PREFIX)/lib/ --with-freetds --with-freetds-incdir=$(ZBS_PREFIX)/include/ --with-freetds-libdir=$(ZBS_PREFIX)/lib/ --with-mysql --with-mysql-libdir=$(ZBS_PREFIX)/lib/ --with-mysql-incdir=$(ZBS_PREFIX)/include/ --with-pgsql --with-pgsql-libdir=$(ZBS_PREFIX)/lib --with-pgsql-incdir=$(ZBS_PREFIX)/include --with-sqlite3 --with-sqlite3-libdir=$(ZBS_PREFIX)/lib --with-sqlite3-incdir=$(ZBS_PREFIX)/include --without-sqlite 

ifeq (,$(findstring freebsd,$(ZBS_DIST)))
	CONFIGURE_OPTS += --with-oracle --with-oracle-libdir=$(ZBS_PREFIX)/lib --with-oracle-incdir=$(ZBS_PREFIX)/include
endif

RPATH=-Wl,-R/$(ZBS_PREFIX)

ifneq (,$(findstring aix,$(ZBS_DIST)))
	RPATH=-Wl,-blibpath:/opt/syslog-ng/lib:/usr/lib:/lib
	LDFLAGS+="-Wl,-brtl"
endif

ifneq (,$(findstring hpux,$(ZBS_DIST)))
	RPATH=-Wl,+b/opt/syslog-ng/lib
endif

all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
	LDFLAGS=" $(RPATH) $(LDFLAGS)" ./configure $(CONFIGURE_OPTS)
	touch $@

$(STAMPDIR)/stamp-configure: setup

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure
	$(MAKE)
	touch $@
install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install DESTDIR=$(ZBS_STAGE_DIR)
	touch $@
clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	$(MAKE) clean

.PHONY: build clean binary-indep binary-arch binary install
